h1.title
  | RANKINGS
span.text12.dark-grey
  | SORT BY
select#sort_score_id.sort.selector[name="sort_score"]
  |  <option value="wins" 
  = @sort_by == 'wins' ? "selected" : ""
  |  >Wins
  |  <option value="points" 
  = @sort_by == 'points' ? "selected" : ""
  |  >Points
  |  <option value="goals" 
  = @sort_by == 'goals' ? "selected" : ""
  |  >Goals
  |  <option value="pull-ups" 
  = @sort_by == 'pull-ups' ? "selected" : ""
  |  >Pull-ups
table.scoreboard
  colgroup
    col[style="width: 10%"]
    col[style="width: 15%"]
    col[style="width: 15%"]
    col[style="width: 15%"]
    col[style="width: 15%"]
    col[style="width: 15%"]
    col[style="width: 15%"]
  thead
    tr
      th.left-align
        | Pos
      th.left-align
        | Player
      th
        | W
      th
        | L
      th
        | Pts
      th
        | G
      th
        | P
  tbody
    - @scores.each.with_index do |score, i|
      tr.spacer
      tr
        td.left-align.dark-grey
          = i + 1
        td.align-left.pad-left
          = score.player.alias
        td
          = score.wins
        td
          = score.loses
        td
          = score.points
        td
          = score.goals
        td
          = score.pullUps
