.title-bar
  span.title
    | PLAYERS
  a.btn[href="/players/new"]
    | ADD
- @players.includes(:score).each do |player|
  = link_to (player_path(player)) do
    div
      table.player
        thead
          tr
            th.align-left[colspan="5"]
              = player.name.upcase
            th.align-right.light
              = player.alias
        tbody
          tr.spacer
            td[colspan="6"]
          tr
            td.dark-grey.align-right.stat
              | WINS
            td.bar.bg-blue[rowspan="3"]
            td.black.align-left.pad-left.score
              = player.score.wins
            td.dark-grey.align-right.stat
              | GOALS
            td.bar.bg-red[rowspan="3"]
            td.black.align-left.pad-left.score
              = player.score.goals
          tr
            td.dark-grey.align-right.stat
              | LOSES
            td.black.align-left.pad-left.score
              = player.score.loses
            td.dark-grey.align-right.stat
              | WIN RATIO
            td.black.align-left.pad-left.score
              = player.score.wRatio.round(2)
          tr
            td.dark-grey.align-right.stat
              | POINTS
            td.black.align-left.pad-left.score
              = player.score.points
            td.dark-grey.align-right.stat
              | PULL-UPS
            td.black.align-left.pad-left.score
              = player.score.pullUps
          tr.spacer
            td[colspan="6"]
