<h1 class="title">ADD PLAYER</h1>

<div class="form">
	<%= form_for :player, url: players_path do |f| %>
		<div class="row">
			<span class="form-label">NAME</span>
			<span><%= f.text_field :name, class: 'form-text', autocomplete: :off %></span>
		</div>

		<div class="row">
			<span class="form-label">ALIAS</span>
			<span><%= f.text_field :alias, class: 'form-text', autocomplete: :off %></span>
		</div>

		<div class="buttons">
			<%= f.submit 'ADD', class: 'form-btn black-btn' %>
			<a href="/players" class="form-btn grey-btn align-center">BACK</a>
		</div>
	<% end %>
</div>
