h1.title
  | ADD PLAYER
.form
  = form_for :player, url: players_path do |f|
    .row
      span.form-label
        | NAME
      span
        = f.text_field :name, class: 'form-text', maxlength: 20, autocomplete: :off
    .row
      span.form-label
        | ALIAS
      span
        = f.text_field :alias, class: 'form-text', maxlength: 5, autocomplete: :off
    .buttons
      = f.submit 'ADD', class: 'form-btn black-btn'
      = link_to 'CANCEL', players_path, class: 'form-btn grey-btn align-center'
