.title-bar
  span.title
    | PROFILE
  a.btn[href="/players"]
    | BACK
table.player
  thead
    tr
      th.align-left[colspan="5"]
        = @profile[:player].name.upcase
      th.align-right.light
        = @profile[:player].alias
  tbody
    tr.spacer
      td[colspan="6"]
    tr
      td.dark-grey.align-right.stat
        | WINS
      td.bar.bg-blue[rowspan="3"]
      td.black.align-left.pad-left.score
        = @profile[:score].wins
      td.dark-grey.align-right.stat
        | GOALS
      td.bar.bg-red[rowspan="3"]
      td.black.align-left.pad-left.score
        = @profile[:score].goals
    tr
      td.dark-grey.align-right.stat
        | LOSES
      td.black.align-left.pad-left.score
        = @profile[:score].loses
      td.dark-grey.align-right.stat
        | WIN RATIO
      td.black.align-left.pad-left.score
        = @profile[:score].wRatio.round(2)
    tr
      td.dark-grey.align-right.stat
        | POINTS
      td.black.align-left.pad-left.score
        = @profile[:score].points
      td.dark-grey.align-right.stat
        | PULL-UPS
      td.black.align-left.pad-left.score
        = @profile[:score].pullUps
    tr.spacer
      td[colspan="6"]
    tr.options
      td[colspan="3"]
        = link_to image_tag('edit.svg', class: 'edit-icon'), edit_player_path(@profile[:player])
      td[colspan="3"]
        = link_to image_tag('delete.svg', class: 'delete-icon'), player_path(@profile[:player]), method: :delete, data: { confirm: 'Are you sure?' }
- @profile[:match_details].each_with_index do |match, index|
  .player-match
    table.match-tbl
      thead
        tr
          th[colspan="5"]
            = pretty_format_date(match[:match].updated_at)
      tbody
        tr
          - if match[:match].winner=='b'
            td.thin.bg-blue[rowspan="4"]
            td.role.column.blue-text
              | ATTACK
          - else
            td.thin.bg-red[rowspan="4"]
            td.role.column.red-text
              | ATTACK
          td.match-score.column[rowspan="4"]
            - if match[:match].winner=='b'
              span.blue-text
                =match[:match].blueGoal
              | -
              span.red-text
                = match[:match].redGoal
                |     
            - else
              span.red-text
                = match[:match].redGoal
              | -
              span.blue-text
                = match[:match].blueGoal
                |     
          - if match[:match].winner=='b'
            td.role.align-right.column.red-text
              | ATTACK
            td.thin.bg-red[rowspan="4"]
          - else
            td.role.align-right.column.blue-text
              | ATTACK
            td.thin.bg-blue[rowspan="4"]
        tr
          - if match[:match].winner=='b'
            td.player-details
              = match[:blue_atk].alias.upcase
            td.player-details.align-right
              = match[:red_atk].alias.upcase
          - else
            td.player-details
              = match[:red_atk].alias.upcase
            td.player-details.align-right
              = match[:blue_atk].alias.upcase
        tr
          - if match[:match].winner=='b'
            td.role.blue-text
              | DEFENSE
            td.role.align-right.red-text
              | DEFENSE
          - else
            td.role.red-text
              | DEFENSE
            td.role.align-right.blue-text
              | DEFENSE
        tr
          - if match[:match].winner=='b'
            td.player-details
              = match[:blue_def].alias.upcase
            td.player-details.align-right
              = match[:red_def].alias.upcase
          - else
            td.player-details
              = match[:red_def].alias.upcase
            td.player-details.align-right
              = match[:blue_def].alias.upcase
