h1.title
  | EDIT MATCH
.form
  = form_tag(match_path, :method=>'put') do
    - player_matches = @match.player_matches.includes(:player)
    .row
      span.form-label
        | RED ATTACK
      = select_tag :redAtt, options_from_collection_for_select(@players, 'id', 'name', player_matches[0].player.id ), :class => 'selector'
    .row
      span.form-label
        | RED DEFENSE
      = select_tag :redDef, options_from_collection_for_select(@players, 'id', 'name', player_matches[1].player.id ), :class => 'selector'
    .row
      span.form-label
        | BLUE ATTACK
      = select_tag :blueAtt, options_from_collection_for_select(@players, 'id', 'name', player_matches[2].player.id ), :class => 'selector'
    .row
      span.form-label
        | BLUE DEFENSE
      = select_tag :blueDef, options_from_collection_for_select(@players, 'id', 'name', player_matches[3].player.id ), :class => 'selector'
    .row
      span.form-label
        | RED SCORE
      span
        = text_field_tag :redGoal, @match.redGoal, class: 'form-text'
    .row
      span.form-label
        | BLUE SCORE
      span
        = text_field_tag :blueGoal, @match.blueGoal, class: 'form-text'
    .buttons
      = submit_tag 'EDIT', class: 'form-btn black-btn'
      = link_to 'CANCEL', matches_path, class: 'form-btn grey-btn align-center'
