.title-bar
  span.title
    | MATCHES
  a.btn[href="/matches/new"]
    | ADD
- @matches.includes(:player_matches, :players).each do |match|
  table.match-tbl
    thead
      tr
        th[colspan="5"]
          = pretty_format_date(match.updated_at)
    tbody
      tr
        - if match.winner=='b'
          td.thin.bg-blue[rowspan="4"]
          td.role.column.blue-text
            | ATTACK
        - else
          td.thin.bg-red[rowspan="4"]
          td.role.column.red-text
            | ATTACK
        td.match-score.column[rowspan="4"]
          - if match.winner=='b'
            span.blue-text
              = match.blueGoal
            | -
            span.red-text
              = match.redGoal
              |     
          - else
            span.red-text
              = match.redGoal
            | -
            span.blue-text
              = match.blueGoal
              |     
        - if match.winner=='b'
          td.role.align-right.column.red-text
            | ATTACK
          td.thin.bg-red[rowspan="4"]
        - else
          td.role.align-right.column.blue-text
            | ATTACK
          td.thin.bg-blue[rowspan="4"]
      tr
        - player_matches = match.player_matches
        - if match.winner=='b'
          td.player-details
            /blue_atk
            = player_matches[2].player.alias.upcase
          td.player-details.align-right
            /red_atk
            = player_matches[0].player.alias.upcase
        - else
          td.player-details
            /red_atk
            = player_matches[0].player.alias.upcase
          td.player-details.align-right
            /blue_atk
            = player_matches[2].player.alias.upcase
      tr
        - if match.winner=='b'
          td.role.blue-text
            | DEFENSE
          td.role.align-right.red-text
            | DEFENSE
        - else
          td.role.red-text
            | DEFENSE
          td.role.align-right.blue-text
            | DEFENSE
      tr
        - if match.winner=='b'
          td.player-details
            /blue_def
            = player_matches[3].player.alias.upcase
          td.player-details.align-right
            /red_def
            = player_matches[1].player.alias.upcase
        - else
          td.player-details
            /red_def
            = player_matches[1].player.alias.upcase
          td.player-details.align-right
            /blue_def
            = player_matches[3].player.alias.upcase
  table.match-btn
    tbody
      tr.options
        td
          = link_to image_tag('edit.svg', class: 'edit-icon'), edit_match_path(match)
        td
          = link_to image_tag('delete.svg', class: 'delete-icon'), match_path(match), method: :delete, data: { confirm: 'Are you sure?' }
