h1.title
  | ADD MATCH
.form
  = form_tag(matches_path, :method=>'post') do
    .row
      span.form-label
        | RED ATTACK
      span
        = text_field_tag :redAtt, nil, class: 'form-text'
    .row
      span.form-label
        | RED DEFENSE
      span
        = text_field_tag :redDef, nil, class: 'form-text'
    .row
      span.form-label
        | BLUE ATTACK
      span
        = text_field_tag :blueAtt, nil, class: 'form-text'
    .row
      span.form-label
        | BLUE DEFENSE
      span
        = text_field_tag :blueDef, nil, class: 'form-text'
    .row
      span.form-label
        | RED SCORE
      span
        = text_field_tag :redGoal, nil, class: 'form-text'
    .row
      span.form-label
        | BLUE SCORE
      span
        = text_field_tag :blueGoal, nil, class: 'form-text'
    .buttons
      = submit_tag 'ADD', class: 'form-btn black-btn'
      = link_to 'CANCEL', matches_path, class: 'form-btn grey-btn align-center'
