// scss-lint:disable IdSelector, PropertySortOrder, LeadingZero, SelectorFormat, VendorPrefix

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,400italic,700,900);
@import 'variables';

* {
  font-family: Lato;
  font-weight: 400;
  letter-spacing: 0.6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body,
h1,
ul,
li {
  color: $black;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

// Standard table styling
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Table edit and delete row
.options {
  margin-bottom: 7px;
  width: 100%;

  tbody {
    tr {
      background: $grey;
      font-size: 0;
      text-align: center;
    }

    td {
      padding: 7px 0;
      width: 50%;
    }
  }
}

//Header
.header {
  font-size: 0;
  padding: 12px 0 12px 18px;

  #foosball-logo {
    width: 240px;
  }
}

.bottom-line {
  border-bottom: 1px solid $grey;
}

// Menu bar (Players, Leaderboard & Matches)
.menu {
  background: $white;
  height: 40px;
  width: 100%;
  text-align: center;

  ul {
    list-style-type: none;
  }

  li {
    color: $dark-grey;
    display: inline-block;
    font-size: 15px;
    margin-left: 2%;
    margin-right: 2%;
    max-height: 100%;

    a {
      border-bottom: 0 solid $white;
      color: $dark-grey;
      text-decoration: none;
    }
  }

  .active a,
  a:hover {
    border-bottom: 3px solid $orange;
    color: $black;
    padding: 8px 0;
  }
}

.menu-fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

.filler {
  height: 0;
  width: 100%;
  -webkit-transition: none;
  transition: none;
}

// Standard page styling
.page {
  height: 100%;
  width: 94%;
  margin-left: auto;
  margin-right: auto;

  .title {
    font-size: 35px;
    font-weight: 400;
    padding: 15px 0 10px;
  }

  .title-bar {
    position: relative;
    height: 72px;
    line-height: 72px;
  }

  .btn {
    position: absolute;
    right: 0;
    display: inline;
    line-height: normal;
    vertical-align: middle;
    font: 700 10px Lato;
    color: $dark-grey;
    letter-spacing: 1.6px;
    border-radius: 3px;
    border: 2px solid $dark-grey;
    margin: 24px 0 0;
    padding: 6px 26px;
    text-decoration: none;

    &:hover {
      background: $dark-grey;
      color: $white;
    }
  }
}

// Credits footer
.credits {
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;

  span {
    color: $dark-grey;
    font-weight: 300;
  }

  .team {
    color: $orange;
    font-weight: 400;
  }
}

// Form styling (Add and Edit)
.form {
  margin-left: auto;
  margin-right: auto;
  width: 96%;

  .row {
    height: 28px;
    line-height: 28px;
    width: 100%;
  }

  .row-spacing {
    margin-top: 10px;
  }

  .form-label {
    color: $dark-grey;
    font-size: 15px;
    letter-spacing: 0.7px;
  }

  .form-text {
    color: $black;
    float: right;
    border: 1px solid $dark-grey;
    border-radius: 2px;
    font-size: 15px;
    height: 25px;
    width: 155px;
  }
}

// Form buttons
.buttons {
  margin-top: 40px;

  .form-btn {
    display: block;
    border: 2px solid;
    border-radius: 2px;
    background: transparent;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2.2px;
    padding: 15px 0;
    margin: 20px 0 0;
    margin-left: auto;
    margin-right: auto;
  }

  .black-btn {
    border-color: $black;
    color: $black;
    width: 204px;

    &:hover {
      background: $black;
      color: $white;
    }
  }

  .grey-btn {
    border-color: $dark-grey;
    color: $dark-grey;
    width: 200px;

    &:hover {
      background: $dark-grey;
      color: $white;
    }
  }
}

// Icon styling
.edit-icon {
  cursor: pointer;
  width: 17px;
}

.delete-icon {
  cursor: pointer;
  width: 15px;
}

// Removes display: block on fields with error
.field_with_errors {
  color: $red;
  display: inherit;
  float: right;
  font-size: 12px;

  .form-text {
    border-color: $red;
  }
}

.error-msg {
  color: $red;
  float: right;
  padding-right: 5px;
}
