// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.selector {
  float: right;
  font-size: 12px;
  height: 28px;
  width: 157px;
  margin-left: 10px;
  color: $black;
  -webkit-appearance: none;
  appearance: none;

  border: 1px solid $dark_grey;
  border-radius: 2px;
  background:url(arrow-down.svg) no-repeat 90%;
  background-size: 12px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.match-tbl {
  width: 100%;
  font-size: 17px;
  font-weight: 400;

  th {
    text-align: right;
    color: $dark_grey;
    font-size: 10px;
    font-weight: 700;
  }

  tbody {
    tr {
      background: $light-grey;

      td {
        padding: 7px 0;
      }
    }

    .column {
      width: 32%;
    }

    .match-score {
      position: relative;
      text-align: center;
      top: 50%;
      font-size: 30px;
    }

    .role {
      padding: 10px 7px 0px 7px;
      font-size: 10px;
      font-weight: 900;
      font-family: Lato;
    }

    .player {
      padding: 0px 7px 10px 7px;
    }

    .thin {
      width: 5px;
    }

    .blue-text {
      color: $blue;
    }

    .red-text {
      color: $red;
    }
  }
}

.match-btn {
  width: 100%;
  margin-bottom: 7px;

  tbody {
    tr {
      td {
        width: 50%;
        padding: 7px 0;
      }
    }

    .options {
      font-size: 0;
      background: $grey;
      text-align: center;
    }
  }
}
