// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
button {
  /*adjust the roundness*/
  float: right;
  border-radius: 3px;
  /*adjust height and width*/
  height: 28px;
  width: 80px;
  /*change border colour*/
  border:2px #777777 solid;
  background-color: transparent;
}
.button-text {
  font-size: 10px;
  font-weight: 400;
}
