// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.match-edit {
  font: 14px Lato;
  color: $dark_grey;

  .btn {
    background: $white;
    font: 700 14px Lato;
    color: $black;
    line-height: normal;
    vertical-align: middle;
    letter-spacing: 1.6px;
    border-radius: 1px;
    width: 200px;
    border: 2px solid $black;
    margin: 24px 0px 0px 0px;
    padding: 12px 80px 12px 80px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      background: $dark_grey;
      color: $white;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  .txt_field {
    color: $black;
    float: right;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid $dark_grey;
    border-radius: 2px;
    background:url(arrow-down.svg) no-repeat 95%;
    background-size: 12px;
    padding: 4px 4px 4px 10px;
    margin-bottom: 5px;
  }
}

.match-tbl { width: 100%;
             background: #F7F7F7;
             font-size: 17px;
             font-weight: 400;
             margin-bottom: 7px;
  th { text-align: right;
       color: $dark_grey;
       background: $white;
       font-size: 10px;
       font-weight: 400; }
  .column { width: 32% }
  .left   { text-align: left; }
  .right  { text-align: right; }
  .match-score {  position: relative;
                  text-align: center;
                  top: 50%;
                  font-size: 30px; }
  .role { padding: 10px 7px 0px 7px;
          font-size: 10px;
          font-weight: 900;
          font-family: Lato; }
  .player { padding: 0px 7px 10px 7px; }
  .thin   { width: 5px; }
  .blue   { background: #66CCFF; }
  .red    { background: #FF6680; }
  .blue-text  { color: #66CCFF }
  .red-text   { color: #FF6680 }
  .grey-bar { text-align: right; }
  .match-btn { height: 20px;
               background: #E8E8E8;
    .left { float: left;
            width: 50%; }
    .right { float: right;
             width: 50%; }
    #edit   { width: 12px; }
    #delete { width: 12px; }
  }
}
