// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.text12 {
  font-size: 12px;
}

.sort {
  font-size: 12px;
  height: 28px;
  width: 100px;
  margin-left: 10px;
}

.selector {
  color: $black;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid $dark_grey;
  border-radius: 2px;
  background:url(arrow-down.svg) no-repeat 90%;
  background-size: 12px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.scoreboard {
  text-align: center;
  width: 100%;

  thead {
    tr {
      height: 28px;
    }

    th {
      color: $white;
      font-size: 11px;
      font-weight: 400;
      background: $dark_grey;
      margin: 0;
      padding: 0;
    }
  }

  tbody {
    tr {
      height: 35px;
      color: $black;
      font-size: 15px;
      background: $grey;
    }

    .spacer {
      font-size: 0;
      height: 3px;
    }
  }

  .pad-left {
    padding-left: 10px;
  }
}
