// scss-lint:disable VendorPrefix
// Colors
$black: #121212;
$white: #fff;
$dark-grey: #777;
$grey: #e8e8e8;
$light-grey: #f7f7f7;
$orange: #f3b11c;
$red: #ff6680;
$blue: #6cf;

// Text Color
.black {
  color: $black;
}

.dark-grey {
  color: $dark-grey;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

// Alignment
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Spacer
.spacer-top {
  margin-top: 20px;
}

// Float
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// Font
.light {
  font-weight: 300;
}

// Background
.bg-blue {
  background: $blue;
}

.bg-red {
  background: $red;
}
