// Colors
$black: #121212;
$white: #FFFFFF;
$dark_grey: #777777;
$grey: #E8E8E8;
$light_grey: #F7F7F7;
$orange: #F3B11C;
$red: #FF6680;
$blue: #66CCFF;

.black {
  color: $black;
}

.dark-grey {
  color: $dark_grey;
}

// Alignment
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

// Font
.light {
  font-weight: 300;
}

// Background
.bg-blue {
  background: $blue;
}

.bg-red {
  background: $red;
}
