doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    = favicon_link_tag 'favicon.ico'
    title
      | ESTL Foosball
    = stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    .header.bottom-line
      = image_tag('foosball.svg', id: 'foosball-logo')
    = render partial: 'layouts/menu_bar'
    .filler
    .page
      = yield
    .credits
      span
        | A project by 
      span.team
        | The Sweatshop
